nav {
  background-color: #fff;
  position: fixed;
  z-index: 100;
  width: 100%;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: orangered; */
}

.nav-container {
  display: flex;
  align-items: center;
}
.nav-info {
  position: relative;
  padding: 0 1rem;
  width: 100%;
}

.nav-info span{
  position: absolute;
  top: 0.4rem;
  right: 1.5rem;
  cursor: pointer;
}

.nav-info .title-call {
  color: grey;
}

/* Nav social */

.nav-social {
  /* background: blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 2px solid grey;
}

.nav-social-items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0 2rem;
}

.nav-social-items li {
  margin: 0rem 0.5rem;
  /* background: grey; */
  position: relative;
}

/* STYLES FOR THE ICON SHOP */

#count-items{
  position: absolute;
  right: -10px;
  top: -20px;
  border-radius: .6rem;
  padding: 1px 6px;
  text-align: center;
  font-size: .8rem;
  font-weight: 500;
  background: green;
  color: white;
}


/* Link items */

.content-items {
  position: fixed;
  /* background: #272727; */
  background: white;
  left: -100%;
  top: 0;
  width: 30%;
  height: 100vh;
  z-index: 100;
  transition: all 0.70s ease-in-out;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.10);
}

.visible {
  left: 0;
}

.navbar-items {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin-top: 5rem;
}

.navbar-items .navbar-link {
  margin: 0 2rem;
  color: #999999;
  font-weight: 600;
  transition: all 0.5s ease;

}

.navbar-item:hover .navbar-link {
  color: green;
}

.navbar-link:hover {
  text-decoration: none;
}


.navbar-item {
  margin: 1.5rem 0;
  font-size: 1.2rem;
  border: 1px solid grey;
  width: 90%;
  border-radius: .3rem;
}

.navbar-items .btn-login{
  border: 1px solid green;
  text-align: center;
  padding: .8rem;
}

.navbar-items .btn-login .navbar-link{
  color: green;
  font-weight: 600;
}

.category-link{
  color: white !important; 
  font-weight: 600;
}


.category-link:hover{
  color: blue !important;
}

/* Button menu */

.btn-icon {
  height: 35px;
  width: 45px;
  background-color: transparent;
  border: none;
  background-image: none;
  cursor: pointer;
  padding: 0 5px;
}

.btn-icon .icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: green;
  margin: 5px 0;
  transition: all 0.5s ease;
}

.btn-icon:hover .icon-bar {
  background-color: grey;
}

/* btn x */

.btn-icon-x {
  height: 35px;
  width: 35px;
  /* background-color: red; */
  position: absolute;
  display: flex;
  align-items: center;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}
.btn-icon-x::before,
.btn-icon-x::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px; /* cross thickness */
    background-color: grey;
    border-radius: 5px;
}

.btn-icon-x::before {
    transform: rotate(45deg);
}
.btn-icon-x::after {
    transform: rotate(-45deg);
}