#products {
  padding: 5rem 0 0 0;
  /* margin: 1rem 0 0 0; */
  position: relative;
}

.load-more {
  position: absolute;
  left: 50%;
  bottom: -2rem;

  border: 2px green solid;
  padding: 0 1rem;
  border-radius: 10rem;
  cursor: pointer;
}

.load-more:hover {
  background: green;
  color: white;
  transition: all 0.5s;
}

.container-products {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto, 320px);
  grid-gap: 15px;

}

.product-card .box-img {
  height: 50%;
  width: 100%;
  position: relative;
}

.btn-add {
  position: absolute;
  right: 1rem;
  bottom: -0.8rem;
}

.p-info {
  background: grey;
  text-align: center;
  width: 100%;
  border-radius: 10rem;
  color: white;
  font-weight: 600;
}

.product-card .box-img figure {
  height: 100%;
  width: 100%;
}

.product-card .box-img figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10%;
}

.info-product {
  height: 40%;
  width: 100%;
  padding: 1rem;
  /* display: flex; */
  text-align: center;
}

.info-product .price {
  font-weight: 700;
}

.info-product .description {
  margin-bottom: 1rem;
}

.info-product .proveedor {
  color: grey;
  font-weight: 600;
  border: 2px solid green;
  border-radius: 10rem;
}