@import url("navbar.css");
@import url("banner.css");
@import url("products.css");
/* @import url("slider.css"); */
/* @import url("services.css"); */
@import url("contact.css");
@import url("footer.css");
@import url("map.css");
@import url("about.css");
@import url("shop.css");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Raleway:wght@600&display=swap");

:root {
  /* --fondo: #272727; */
  --fondo: #6b7375;
  --fondo2: #272727;
  --card: #517fbd;
  --cardbg: #7697b7;
  --azul: #00933B;
}

body{
  /* background-color: #272727; */
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
  padding: 2rem 0rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Fjalla One", sans-serif;
}

/* PART OF THE MAINTENCE */

#maintence {
  padding: 3rem 0 13rem 0;
  /* background-image: url('../img/pops.png'); */
  background-color: #00933B;
}

.info-maintence {
  color: white;
}

.info-maintence > p {
  text-align: justify;
}

.img-maintence {
  background-image: url("../img/agri.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* STYLES FOR ICON */

#icon {
  background: white;
  border-radius: 50%;
  
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  height: 50px;
  width: 50px;
  z-index: 10;
}

#icon > a > img {
  height: 100%;

}

/* STYLES FOR THE NAV */

.nav-item > a {
  margin: 0 1rem;
}
.nav-item > a {
  color: white !important;
}

.navbar-toggler {
  margin: 0.25rem 1rem;
  background-color: white;
}

/* STYLES FOR SCROLL BAR */

body::-webkit-scrollbar {
  width: 0.5rem;
  background: #272727;
}

body::-webkit-scrollbar-thumb {
  width: 100%;
  height: 2rem;
  background: var(--azul);
  border-radius: 20px;
}

/* btn fo the all page */

.btn-add-basket{
  background: transparent;
  border: 0;
  border-radius: 50%;
  appearance: none;
  height: 2.5rem;
  font-size: 1.5rem;
  padding: 0 0.8rem;
  cursor: pointer;
  background-color: white;
  box-shadow: inset 0 0 0 0.0625rem #09c538;
  font-weight: 700;
  text-decoration: none;
  transition: all .1s cubic-bezier(.77, 0, .175, 1);
  white-space: nowrap;

}


@media only screen and (max-width: 900px) {
  .nav-info {
   /* display: none; */
  }

  .navbar-item {
    font-size: 1.3rem;
  }

  .content-items{
    width: 100vw;
  }

  .margin{
    margin: 2rem 0;
  }

  #content_info_banner{
    width: 15rem;
  }

  .container-products{
    width: 95%;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 8px;
    grid-template-rows: 200px;
  }




}